# Assignment 1

In [ ]:
# First Problem

In [ ]:
#Printing the number divisible by 7 but not by 5 between the  range 2500 and 3200 (both included)
range(2500,3201)

In [18]:
for i in range(2500,3201):
    if i%7== 0 and i%5 != 0:
        print (i, end=",")

2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

In [ ]:
# Second Problem

In [ ]:
# Reversing the name

In [11]:
name = input("Enter your First Name -->")
lname= input("Enter your Last Name -->")
name = name.lower()
lname =lname.lower()


print(lname[-1::-1] + " " + name[-1::-1])

Enter your First Name -->naman
Enter your Last Name -->jain
niaj naman

In [13]:
# 3 Problem
import math

In [17]:
diameter = 12
radius = diameter/2
Volume = ((4/3)* math.pi * (radius ** 3))
print("The volume of Sphere with a Diameter 12 is {}".format(Volume))

The volume of Sphere with a Diameter 12 is 904.7786842338603